@CHARSET "UTF-8";

body{margin:0;font:normal 14px Arial, Helvetica, sans-serif; line-height:18px; color:#333333; background-color:#ffffff;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{max-width:100%;height:auto;border:0;-ms-interpolation-mode:bicubic;}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:none;}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
a{color:#1F3B7B;text-decoration:none;line-height:inherit;font-weight:inherit;}
a:hover{color:#D14836;text-decoration:underline;}

p{margin:0 0 12px;}p small{font-size:12px;color:#999999;}
h1,h2,h3,h4,h5,h6{font-weight:bold;color:#333333;text-rendering:optimizelegibility;}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:normal;color:#999999;}
h1{font-size:30px;line-height:36px;} h1 small{font-size:18px;}
h2{font-size:24px;line-height:36px;} h2 small{font-size:18px;}
h3{line-height:27px;font-size:18px;} h3 small{font-size:14px;}
h4,h5,h6{line-height:18px;}
h4{font-size:14px;}h4 small{font-size:12px;}
h5{font-size:12px;}
h6{font-size:11px;color:#999999;text-transform:uppercase;}
ul,ol{padding:0;margin:0 0 9px 25px;}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0;}
ul{list-style:disc;}
ol{list-style:decimal;}
li{line-height:20px;}
ul.unstyled{margin-left:0;list-style:none;}
dl{margin-bottom:18px;}
dt,dd{line-height:18px;}
dt{font-weight:bold;}
dd{margin-left:9px;}
hr{margin:18px 0;border:0;border-top:1px solid #e5e5e5;border-bottom:1px solid #ffffff;}
strong{font-weight:bold;}
abbr{font-size:90%;text-transform:uppercase;border-bottom:1px dotted #ddd;cursor:help;}
blockquote{padding:0 0 0 15px;margin:0 0 18px;border-left:5px solid #eeeeee;}blockquote p{margin-bottom:5px;font-size:14px;font-weight:300;line-height:22px;}
blockquote small{display:block;line-height:18px;color:#999999;}blockquote small:before{content:'\2014 \00A0';}
blockquote.pull-right{float:right;padding-left:0;padding-right:15px;border-left:0;border-right:5px solid #eeeeee;}blockquote.pull-right p,blockquote.pull-right small{text-align:right;}
q:before,q:after,blockquote:before,blockquote:after{content:"";}
address{display:block;margin-bottom:18px;line-height:18px;font-style:normal;}
small{font-size:100%;}
cite{font-style:normal;}
code,pre{padding:0 3px 2px;font-family:Menlo,Monaco,"Courier New",monospace;font-size:13px;color:#333333;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
code{padding:3px 4px;color:#d14;background-color:#f7f7f9;border:1px solid #e1e1e8;}
pre{display:block;padding:8.5px;margin:0 0 9px;font-size:12px;line-height:18px;background-color:#f5f5f5;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, 0.15);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;white-space:pre;white-space:pre-wrap;word-break:break-all;}
pre.prettyprint{margin:10px auto 18px; padding:10px;}
pre code{padding:0;background-color:transparent;}

input,textarea{-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-ms-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;}
input:focus,textarea:focus{border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);outline:0;outline:thin dotted \9;}
input[type="file"]:focus,input[type="checkbox"]:focus,select:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
input.beta-text,textarea,select{display:inline-block;width:210px;height:18px;padding:4px;font-size:14px;line-height:18px;color:#555555;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}

.clear {display:block; clear:both; font-size:0px; width:100%; height:0px; line-height:0px;}
.beta-radius3px {-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.beta-radius5px {-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.fright{float:right;}
.fleft{float:left;}
.hide{display:none;}
.show{display:block;}
.cred {color:red;}
.cblue {color:blue;}
.cgray {color:gray;}
.clightgray {color:#CFCFCF;}
.cgreen {color:green;}
.aright {text-align:right;}
.aleft {text-align:left;}
.acenter {text-align:center;}
.f12px {font-size:12px;}
.f14px {font-size:14px;}

/* button */
.beta-btn {font-size:14px; border-color:#BBB #BBB #999; border-width:1px; border-style:solid; padding:0 16px; height:28px; color:#444; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; overflow:hidden; -webkit-appearance:none; background-image: -moz-linear-gradient(-90deg, #fcfcfc 0, #e9e9e9 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc),color-stop(1, #e9e9e9)); *padding: 3px 8px 0; vertical-align:middle; *zoom:1;}
.beta-btn:hover {border-color:#999 #999 #666; color: #333 !important; background-color:transparent !important; background-position:1px -706px\9; background-image:-moz-linear-gradient(-90deg, #f8f8f8 0, #ddd 100%); background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f8f8f8), color-stop(1, #ddd));}
.beta-btn:active {background: #ddd !important; color: #333 !important; border-color: #999 #999 #666 !important;}
.beta-btn.small {font-size:12px; padding:0 14px; height:27px; border-radius:3px;}


/* alert */
.beta-alert{padding:8px 35px 8px 14px;margin-bottom:18px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.beta-alert,.beta-alert-heading{color:#c09853;}
.beta-alert .close{position:relative;top:-2px;right:-21px;line-height:18px;}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;}
.alert-success,.alert-success .alert-heading{color:#468847;}
.alert-danger,.alert-error{background-color:#f2dede;border-color:#eed3d7;}
.alert-danger,.alert-error,.alert-danger .alert-heading,.alert-error .alert-heading{color:#b94a48;}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;}
.alert-info,.alert-info .alert-heading{color:#3a87ad;}
.alert-block{padding-top:14px;padding-bottom:14px;}
.alert-block>p,.alert-block>ul{margin-bottom:0;}
.alert-block p+p{margin-top:5px;}
.close{float:right;font-size:20px;font-weight:bold;line-height:18px;color:#000000;text-shadow:0 1px 0 #ffffff;opacity:0.2;filter:alpha(opacity=20);}.close:hover{color:#000000;text-decoration:none;opacity:0.4;filter:alpha(opacity=40);cursor:pointer;}
.beta-alert.beta-alert-message {font-size:12px; margin:1px; padding:4px 35px 4px 10px;}
.beta-alert.beta-alert-message .close {top:-1px; right:-25px;}

.well{min-height:20px;padding:19px;margin-bottom:20px;background-color:#f5f5f5;border:1px solid #eee;border:1px solid rgba(0, 0, 0, 0.05);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);}.well blockquote{border-color:#ddd;border-color:rgba(0, 0, 0, 0.15);}

/* global css */
.beta-no-content-tip {font-size:12px; color:gray; margin:0; padding:0;}

/* global layout */
/*body {background:#CACACA;}*/
.beta-container {width:990px; background:#FFFFFF; margin:0 auto; /*-moz-box-shadow:0 0 18px #444; -webkite-box-shadow:0 0 18px #444; box-shadow:0 0 18px #444;*/}
.beta-entry {background:#FFFFFF; margin:0 auto;}
.beta-footer {margin-top:10px;}
.beta-sidebar {width:338px; float:right;}
.beta-content {width:642px; float:left;}
.beta-backtop {position:fixed; right:-1px; bottom:-1px; display:inline-block; font-size:12px; font-weight:bold; height:27px; line-height:27px; padding:0 8px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; background:whiteSmoke; border:1px solid rgba(0, 0, 0, 0.1); box-shadow:0 0 6px #808080; min-width:55px; margin:0; text-align:center; z-index:10001;}
.beta-backtop:hover, .beta-backtop:active, .beta-backtop:visited, .beta-backtop:focus {color:#444444; text-decoration:none;}
/* ie6, ie7 */
.beta-backtop {+display:none; _display:none;}

/* footer */
.beta-footer, .beta-footer .beta-container {background:#333333; margin-top:20px; min-height:50px; font-size:12px; color:#BFBFBF;}
.beta-footer .beta-container {padding:10px 0 20px; text-align:center;}
.beta-footer .beta-container p {margin:0 0 5px;}
.beta-footer .beta-container a:link, .beta-footer .beta-container a:visited {color:white;}

/* header */
.beta-header {height:60px; background:url(../images/header_bg.jpg); overflow:hidden;}
.beta-header .beta-logo {height:100%;}
.beta-header .beta-logo a {display:block; width:250px; height:100%; text-indent:-99999px;}

/* header nav */
.beta-nav {background:#EFEFEF; margin-bottom:15px; border-bottom:1px solid #DFDFDF;}
.beta-nav ul, .beta-nav li {margin:0; list-style:none inside;}
.beta-nav li {float:left; margin:2px 5px;}
.beta-nav li a {display:block; padding:5px 10px; margin:5px 0; line-height:1; text-decoration:none; color:black;}
.beta-nav a.gray:link, .beta-nav a.gray:visited {text-decoration:none; color:white; background:gray;}
.beta-nav a.green:link, .beta-nav a.green:visited {text-decoration:none; color:white; background:green;}
.beta-nav a:hover, .beta-nav a.active:link, .beta-nav a.active:visited, .beta-nav a.gray:hover, .beta-nav a.green:hover {text-decoration:none; color:white; background:#D14836;}
.beta-nav .user-mini-bar li a {margin-right:0; maring-left:4px;}

/* pager */
.beta-pages {font-size:14px; margin:15px 0;}
.beta-pages a {font-size:14px;}
.beta-pages ul.yiiPager {font-size:14px;border:0;margin:0;padding:0;}
.beta-pages ul.yiiPager li{display:inline-block; line-height:34px;}
.beta-pages ul.yiiPager a:link,.beta-pages  ul.yiiPager a:visited{border:solid 1px #9aafe5; color:#0e509e; padding:8px 12px; text-decoration:none;}
.beta-pages ul.yiiPager a:hover{border:solid 1px #0e509e;}
.beta-pages ul.yiiPager .selected a {background:#2e6ab1;color:#FFFFFF;font-weight:bold;}
.beta-pages ul.yiiPager .hidden a {border:solid 1px #DEDEDE;color:#888888;}
.beta-pages ul.yiiPager .first,.beta-pages ul.yiiPager .last {display:none;}
.beta-pages ul.yiiPager .previous a, .beta-pages ul.yiiPager .next a {padding-left:22px; padding-right:22px;}

/* content block */
.beta-block {border:1px solid #BFBFBF; margin-bottom:10px; font-size:14px; overflow-x:hidden;}
.beta-block h2, .beta-block .beta-title {font-size:14px; line-height:28px; height:28px; padding:0 10px; background:#CFCFCF; border-bottom:1px solid #BBBBBB; margin:0;}
.beta-block .beta-block-content {margin:10px; font-size:inherit;}
.beta-block ul.beta-block-content, .beta-block ol.beta-block-content {margin-left:25px;}
.beta-block .beta-block-content.unstyled {margin-left:10px;}
.beta-block .beta-block-content li {margin-top:5px;}
/* small content block */
.beta-block.beta-small {font-size:12px;}
.beta-block.beta-small h2, .beta-block.beta-small .beta-title {line-height:22px; height:22px; font-size:inherit;}
.beta-block.beta-small .beta-block-content {margin:6px 10px 5px 25px; font-size:inherit;}
.beta-block.beta-small .beta-block-content.unstyled {margin-left:10px;}
.beta-block.beta-small .beta-block-content li {margin-top:3px;}


.beta-control-group {clear:both; margin:10px 0;}
.beta-help-inline {color:gray; padding-left:5px; font-size:12px;}
.beta-help-block {color:gray; display:block; margin:3px 0 0; font-size:12px;}
.beta-control-group.warning .beta-help-block,.beta-control-group.warning .beta-help-inline{color:#c09853;}
.beta-control-group.warning input,.beta-control-group.warning select,.beta-control-group.warning textarea{color:#c09853;border-color:#c09853;}.beta-control-group.warning input:focus,.beta-control-group.warning select:focus,.beta-control-group.warning textarea:focus{border-color:#a47e3c;-webkit-box-shadow:0 0 6px #dbc59e;-moz-box-shadow:0 0 6px #dbc59e;box-shadow:0 0 6px #dbc59e;}
.beta-control-group.error .beta-help-block,.beta-control-group.error .beta-help-inline{color:#b94a48;}
.beta-control-group.error input,.beta-control-group.error select,.beta-control-group.error textarea{color:#b94a48;border-color:#b94a48;}.beta-control-group.error input:focus,.beta-control-group.error select:focus,.beta-control-group.error textarea:focus{border-color:#953b39;-webkit-box-shadow:0 0 6px #d59392;-moz-box-shadow:0 0 6px #d59392;box-shadow:0 0 6px #d59392;}
.beta-control-group.success .beta-help-block,.beta-control-group.success .beta-help-inline{color:#468847;}
.beta-control-group.success input,.beta-control-group.success select,.beta-control-group.success textarea{color:#468847;border-color:#468847;}.beta-control-group.success input:focus,.beta-control-group.success select:focus,.beta-control-group.success textarea:focus{border-color:#356635;-webkit-box-shadow:0 0 6px #7aba7b;-moz-box-shadow:0 0 6px #7aba7b;box-shadow:0 0 6px #7aba7b;}

.beta-control-group .beta-control-label {display:block; float:left; width:100px; text-align:right; padding-top:5px;}
.beta-control-group .beta-controls {float:left; margin-left:10px;}
.beta-form-actions {padding:15px 18px 16px;margin:10px 0 0 0;background-color:#f5f5f5;border-top:1px solid #DDDDDD;}