@CHARSET "UTF-8";

body {padding:0 10px;}
a {color:#1F3B7B; text-decoration:none;}
a:hover {color:#D14836; text-decoration:none;}
.post-item {margin:0 0 10px; border:1px solid #EEE; border-radius:5px; box-shadow:1px 1px 1px #CCCCCC; padding:10px; display:block;}
.post-item dt {margin:0; pa2dding:0;}
.post-item dt h1 {margin:0; line-height:18px; padding:0;}
.post-item dt a {font-size:18px; display:block; padding:5px 0 15px;}
.post-item dd {margin:0; line-height:22px; font-size:14px; word-wrap:break-word;}
.post-item dd img {margin:0 10px 10px 0;}
.post-item dt.extra {font-size:12px; color:gray; font-weight:normal; margin:0 0 10px; text-align:right;}
